<div class="modal-header">
    <h4 class="modal-title pull-left">Save Search</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal('CLOSEBUTTON')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    
	<input type="text" [(ngModel)]="searchName"/>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeModal('CLOSEBUTTON')">Close</button>
    <button type="button" class="btn btn-default" (click)="saveSearchForUser()">Done</button>
</div>