<p>{{passeddata.fields.title}}</p>
<p>{{passeddata.widgetType}}</p>
<button access-article [objToLookFor]="passeddata">Access Button</button>

<label>
	Download
<input type="checkbox" [checked]="true" (click)="downloadValueChanged(passeddata)" [checked]="downloadlinksobject.selectedValues.indexOf(passeddata)!=-1" *ngIf="downloadlinksobject.displayCheckbox"/>
</label>

<label>
	Fav
<input type="checkbox" [(ngModel)]="passeddata.isFavorite" (click)="favToggle(passeddata)"/>
</label>

<img [src]="'data:image/jpg;base64,'+ passeddata.coverImage" *ngIf='passeddata.coverImage' style="width:150px;height:150px;"/>
<img src="assets/img/defaultImage.png" *ngIf='!passeddata.coverImage' style="width:150px;height:150px;"/>